


<nav>
	<ul class="menu">
		<li><a href="about.html">About Us</a></li>
		<li><a href="tripdetails.html">Trip Details</a></li>
		<li><a href="contact.html">Contact</a></li>
	</ul>
</nav>

<header>
<div class="wrapper">

	<h1>Yoga/Surf Voluntourism</h1>
	<h2>April 21 - April 29 2016</h2>

	<h3>Our Mission</h3>

	<blockquote>
	<p><strong>100 Smiles Project</strong> is a non-for profit organization that helps orphanages and responds to real need in impoverished coastal communities.  We generate at least 100 smiles through surf and volunteer initiatives, dental care, feeding programs, school supplies, project builds and toy donations to children in impoverished areas of El Salvador, Nicaragua and Guatemala.</p>
	&mdash;Elly Pham, Founder
	</blockquote>

</div><!-- wrapper -->

</header>

<section id="form" class="form">

	<form action="/sign_ups" method ="POST"> 
		<input type="text" placeholder="Name" required name="name">
		<input type="email" placeholder="Email" required name="email">		
		<input type="submit" value="Send">
	</form>

</section id="projects" class="projects">
	<div class="content-wrapper">
		<h2>Upcoming Projects</h2>
		<div class="column">
			<img src="assets/images/100 smiles dental.jpg">
			<h3>Dental Clinic</h3>
			<p>We hold dental hygiene clinics at the orphanage and provide children with brand new toothbrushes, tooth paste and floss.</p>
		</div>
		<div class="column">
			<img src="assets/images/100 smiles surf camp.jpg">
			<h3>Surf Camp</h3>
			<p>We take the kids out to the beach for a fun-filled day of activities, swimming and surf lessons.</p>
		</div>
		<div class="column">
			<img src="images/100 smiles volunteer.jpg">
			<h3>Volunteer</h3>
			<p>Are you looking to give back? Coming join us on one of our Surf/Volunteer Trips.  We have one coming up December 26, 2015.</p>
		</div>
		<div class="column">
			<img src="images/100 smiles bakery build2.jpg">
			<h3>Bakery Build</h3>
			<p>With the bakery almost being complete, they'll need help purchasing plates, utensils, cups, etc. </p>		
		</div>
	</div><!-- content-wrapper -->			

<section id="contact" class="contact">
	<h2>Contact Us</h2>

	<div class="social">
		<a href="https://twitter.com/100smilesprj"><img src="images/twitter.png" alt=""></a>
		<a href="https://www.facebook.com/100smilesproject"><img src="images/facebook.png"></a>
		<a href="https://www.linkedin.com/company/100-smiles-project"><img src="images/linkedin.png"></a>
	</div><!-- social -->
</section>


